**/target
**/nbactions.xml
**/nb-configuration.xml

#Eclipse especified files:
**/.classpath
**/.project
**/.DS_Store
**/.settings/**

**/.idea/**
**/*.iml
**/*.log
**/*.data
**/*.redo
**/logs/**
**/*.swp
**/*.swo
**/out/**

algorithm/tmp/*
leetcode_question/811.subdomain-visit-count.txt
"\351\235\242\347\273\217/"

